*{
    margin: 0;
    padding: 0;
    object-fit: cover;
    box-sizing: border-box;   
}

@media only screen and (min-width:320px )  {

    body {
        background:radial-gradient(pink ,white , violet  );
    }

    html {
    scroll-behavior: smooth;
    } 

    .fondoImg .aWsp {
    margin-left: 73%;
    margin-bottom: 2%;
    }

    .aWsp .wsp {
        object-fit: cover;
        box-sizing: border-box;
        width: 80px;
        height: 80px;
        background-color: transparent;
        margin-bottom: 8px;
    } 

    header{
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;  
    }

    .div_img{
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        height: 80px;
        background: black;
        width: 100vw;
        text-decoration: none;
    }

    .div_img a {
        width: 100%;
        text-decoration: none;
        margin: 0;
        padding: 0;
        background-color: black;
    }

    .div_img a img {
        height: 80px;
        width: 100%;
    }

    .boton_hbs {
        border:1px solid black;
        position:sticky;
        top: 0;
    }

    .boton_hbs button {
        color:black;
    }

    nav {
        width: 100%;
    }

    .header_img  {
        width: 100%;
        height: 100%;

    }

    .links {
    padding: 8px;
    margin: 0;
    text-align: center; 
    margin-top: 10px;
 

    }

    .links li  {
        text-align: center;; 
    }

    .links a {
        text-decoration: none;
        color: black;
        text-align: center; 
    }

    .encabezado{
        width: 100%;
        font-size: 30px ;
        text-align: center;
        padding: 5px;
        margin-top:20px;
        margin-bottom: 10px;
    }

    .container_card{
        width: 100%;
        height: 100%;
        margin: 0px;
        margin-top: 50px;
        margin-bottom: 50px; 
        padding: 2px;
    }

    .card{
        width: 100%;
        height: auto;
        margin:0px;
    }

    .card  img {
        width: 100%;            
        object-fit: cover;
        box-sizing: border-box;
        margin: 0px;

    }

    .container_card .parrafo {
        margin: 0px;
        text-align: center;
    }


   .redes_soc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

   }

    .footer h1{
        width: 100%;
    }

    .redes_soc img {
        width: 50px;
        height: 50px;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 25px;
        margin-right: 25px;
        border-radius: 50%;
    }

    .redes {
        float: left;
    }

    footer div p {
        font-size: 15px;
    }

    .copyright {
        background-color: black;
        color: white;
        height: auto;
        text-align: center;
        font-size: 15px;
        margin-top: auto;
        margin-bottom: auto;
    }

        /* --- ir arriba --- */

        .ir-arriba {
            position: fixed;
            bottom: 25px;
            left: 3px;
            width: 30px;
            height: 30px;
            background-color: black;
            border: none;
            cursor: pointer;
            transition: all 300ms ease;
            border-radius: 50%;
            z-index: 30;
        }
    
        .ir-arriba span {
            color: white;
            font-size: 20px;
            font-weight: bold;
            margin: auto;
        }


    /* ---- javascript ---- */

    .list {
        height: 100%;
        width: 85%; 
        display: none; 
       
    }


    .boton {
        width: 100%;
        padding: 10px;
        background-color: black;
        margin: auto;
    }

    .list button {
        margin: 0;
        padding: 0;
        
    }

    .navMenu {
        width: 100%;
        height: 100vh;
        background-color: black;
        display: flex;
        flex-direction: column;

    }

    .navMenu a{
        text-decoration: none;
        color:black;
        font-size: 20px;
        background-color: black;
        color: white;
        padding: 5px;
    
    }

}